In [1]:
# import relevant libraries
import pandas as pd

In [2]:
# initialize greeting
greeting = 'Hi, nice to meet you!'

In [3]:
print(greeting)

Hi, nice to meet you!

In [4]:
# initialize greeting1
greeting1 = 'Hey'

# initialize name1
name1 = 'Christine'

# initialize greeting2
greeting2 = 'Hello'

# initialize name2
name2 = 'Lav'

# initialize punctuation
punctuation = '!'

In [5]:
print(greeting1, name1, punctuation)

print(greeting2, name2, punctuation)

Hey Christine !
Hello Lav !

In [6]:
# initialize odd_nums as a list containing some odd integers
odd_nums = [-5, -3, -1, 1, 3, 5]

In [7]:
print(odd_nums)

[-5, -3, -1, 1, 3, 5]

In [8]:
# initialize a point on a line
(x1, y1) = (5, 6)

# initialize another point on the same line
(x2, y2) = (-7, -8)

In [9]:
# compute slope of line using the two points & display with label
print('slope:', (y2 - y1) / (x2 - x1))

slope: 1.1666666666666667

In [10]:
# read grades dataset & save as a pandas dataframe
grades = pd.read_csv('grades.csv')

In [11]:
# display first ten rows of grades
grades.iloc[:10]

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0
5     1           6    NaN
6     1           7   75.0
7     1           8   56.0
8     1           9   90.0
9     1          10   81.0

In [12]:
# check for missing values in grade column
if grades['grade'].isnull().values.any():
    print('there are missing values')
else:
    print('there are no missing values')

there are missing values

In [13]:
# fill missing grades with zeros
grades['grade'] = grades['grade'].fillna(0)

In [14]:
# display first ten rows of grades
grades.iloc[:10]

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0
5     1           6    0.0
6     1           7   75.0
7     1           8   56.0
8     1           9   90.0
9     1          10   81.0

In [15]:
grades_atleast_70 = grades.loc[grades['grade'] >= 70]['grade'].values
grades_below_70 = grades.loc[grades['grade'] < 70]['grade'].values

In [16]:
print('grades atleast 70%:', grades_atleast_70)

print('grades below 70%:', grades_below_70)

grades atleast 70%: [ 86.  70.  98.  89.  75.  90.  81.  79.  78.  75.  80.  87.  82.  95.
  96.  78.  80.  87.  89.  90. 100.  72.  73.  75.  80.  81.  82.  83.
  84.  85.  86.  87.  88.  90.  91.  92.  93.  94.  95.  96.  97.  98.]
grades below 70%: [65.  0. 56. 60.  0.  0.  0.  0.]