In [1]:
# import relevant libraries
import pandas as pd
import numpy as np

In [2]:
# prompt user for name & store reply in variable
name = input('Please enter your name: ')

# display response to user
print('Nice to meet you,', name)

Please enter your name: Siddhi
Nice to meet you, Siddhi

In [3]:
# read grades dataset & save as a pandas dataframe
grades = pd.read_csv('grades.csv')

In [4]:
# display first ten rows of grades
grades.iloc[:10]

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0
5     1           6    NaN
6     1           7   75.0
7     1           8   56.0
8     1           9   90.0
9     1          10   81.0

In [5]:
# check for missing values in grade column
if grades['grade'].isnull().values.any():
    print('there are missing values')
else:
    print('there are no missing values')

there are missing values

In [6]:
# fill missing grades with zeros
grades['grade'] = grades['grade'].fillna(0)

In [7]:
# display first ten rows of grades
grades.iloc[:10]

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0
5     1           6    0.0
6     1           7   75.0
7     1           8   56.0
8     1           9   90.0
9     1          10   81.0

In [8]:
# compute mean grade for Exam #1 & save in variable
exam1_mean = grades.loc[grades['exam'] == 1]['grade'].mean()
exam1_mean

71.0

In [9]:
# prompt user for grade & save in variable

grade = input('Please enter your grade for Exam #1: ')

# compute difference from exam1_mean & save in variable

diff = int(grade) - exam1_mean

# display response to user based on diff
if (diff > 0):
    print('You scored', diff, 'percent higher than the mean,', exam1_mean)
elif (diff < 0):
    print('You scored', diff, 'percent lower than the mean,', exam1_mean)
else:
    print('You scored the same as the mean')

Please enter your grade for Exam #1: 88
You scored 17.0 percent higher than the mean, 71.0