In [1]:
# import relevant modules
import pandas as pd

In [2]:
# read grades dataset, save as a pandas dataframe
grades = pd.read_csv('grades.csv')

In [3]:
# display first few rows of grades
grades.head()

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0

In [4]:
def mean_atleast_70(student_id):
    
    """Compute mean grade across all exams for student with given student_id.
    Treat missing exam grades as zeros.
    If mean grade is atleast 70, return True. Otherwise, return False."""
    
    mean_grade = grades.loc[grades['student_id'] == student_id]['grade'].fillna(0).mean()
    return mean_grade >= 70

In [5]:
# test mean_grade on student_id 1
assert mean_atleast_70(1) == False, 'test failed'
print('test passed')

test passed

In [6]:
# sequence containing all distinct student ids
student_ids = grades['student_id'].unique()
student_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [7]:
list(filter(mean_atleast_70, student_ids))

[3, 5, 7, 8, 9, 10]